<!-- _includes/footer.html -->
<footer class="site-footer">
    <div class="wrapper">
      <p>© {{ site.time | date: "%Y" }} Savitha Kandugula. All rights reserved.</p>
      <div class="footer-social">
        <!-- Email -->
        <a href="mailto:savithakandugula4@gmail.com" title="Email">
          <i class="fas fa-envelope fa-lg"></i>
        </a>
        <!-- LinkedIn -->
        <a href="https://www.linkedin.com/in/savitha-kandugula" target="_blank" title="LinkedIn">
          <i class="fab fa-linkedin fa-lg"></i>
        </a>
        <!-- GitHub -->
        <a href="https://github.com/savithakandugula" target="_blank" title="GitHub">
          <i class="fab fa-github fa-lg"></i>
        </a>
      </div>
    </div>
  </footer>
  